alembic
aniso8601
blinker
certifi
charset-normalizer
click
Faker
Flask
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
python-dateutil
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
Werkzeug
WTForms
zipp
