alembic
blinker
cachelib
certifi
click
cloudinary
exceptiongroup
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pluggy
PyJWT
pytest
six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing_extensions
urllib3
Werkzeug
zipp
